# Go specific
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# IDE specific
.idea/
.vscode/
*.swp
*.swo

# Debug files
debug
*.log

# Binary files
bin/
tmp/

# Dependency directories
vendor/

# Environment files
.env
*.env
config-local.yaml

# macOS specific
.DS_Store

# Windows specific
Thumbs.db 